<?xml version="1.0" encoding="UTF-8" ?>
<site base_url="http://jamescostello.dev/" store_into="../public/sitemap.xml" verbose="1">

<url href="http://jamescostello.dev/" />
<url href="http://jamescostello.dev/projects" />
<url href="http://jamescostello.dev/articles" />
<url href="http://https://jamescostello.dev/posts/access-control-models" />
<url href="https://jamescostello.dev/posts/cloud" />
<url href="https://jamescostello.dev/posts/web-application-security" />
<url href="https://jamescostello.dev/all-posts" />
<url href="https://jamescostello.dev/projects/high-east" />
<url href="https://jamescostello.dev/projects/shop-shop" />
<url href="https://jamescostello.dev/projects/google-books-search" />
<url href="https://jamescostello.dev/projects/budget-tracker" />
<url href="https://jamescostello.dev/projects/work-day-scheduler" />
<url href="https://jamescostello.dev/articles/access-control-models" />
<url href="https://jamescostello.dev/articles/cloud" />
<url href="https://jamescostello.dev/articles/web-application-security" />
<url href="https://jamescostello.dev/articles/dns" />
<url href="https://jamescostello.dev/all-posts/access-control-models" />
<url href="https://jamescostello.dev/all-posts/cloud" />
<url href="https://jamescostello.dev/all-posts/web-application-security" />
<url href="https://jamescostello.dev/all-posts/dns" />
<url href="https://jamescostello.dev/all-posts/high-east" />
<url href="https://jamescostello.dev/all-posts/shop-shop" />
<url href="https://jamescostello.dev/all-posts/google-books-search" />
<url href="https://jamescostello.dev/all-posts/budget-tracker" />
<url href="https://jamescostello.dev/all-posts/work-day-scheduler" />

<sitemap path="../public/" />

  <filter action="drop" type="wildcard" pattern="*~" />
  <filter action="drop" type="regexp" pattern="/\.[^/]*" />

</site>
